@(parentList: List[Classify], menuClassify: Map[Classify, List[Classify]], self: Option[User], request: play.mvc.Http.Request)

@main("付款") {
@views.html.common.header(parentList, menuClassify, self, request, None)

<div class="row">
    <div class="col-md-12 right-box show-grid">
        <h5>填写订购人信息</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">订购人姓名：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">订购人电话：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
                <label class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">您所在的省份：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
                <label class="col-sm-2 control-label">城市：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">您的email地址：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>请填写收货人信息</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">选择收货人：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人姓名：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人电话：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
                <label class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人省份：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
                <label class="col-sm-2 control-label">城市：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人地址：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>配送费用</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2">
                    <input type="radio" name="send">
                    市区送货（免费送货）
                </label>
                <label class="col-sm-2">
                    <input type="radio" name="send">
                    郊区配送（＋30元）
                </label>
                <label class="col-sm-2">
                    <input type="radio" name="send">
                    远郊配送（＋50元）
                </label>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>配送日期</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">送货日期：</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" name="date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">时段：</label>
                <label class="col-sm-1 control-label">
                    <input type="radio" name="time">
                    不限
                </label>
                <label class="col-sm-2 control-label">
                    <input type="radio" name="time">
                    上午（8:30-12:00）
                </label>
                <label class="col-sm-2 control-label">
                    <input type="radio" name="time">
                    下午（12:00-18:00）
                </label>
                <label class="col-sm-2 control-label">
                    <input type="radio" name="time">
                    晚上（18:00-21:00）
                </label>
                <label class="col-sm-2 control-label" style="text-align:left;">
                    <input type="radio" name="time">
                    定时服务
                </label>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>特殊要求</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    如果您对配送服务有特殊要求,请在此说明,我们尽量满足：
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>卡片资料（随货赠送精美留言卡一张，请写下您的留言）</h5>
        <form class="container form-horizontal mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    给收货人留言
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    购买人署名
                </label>
                <div class="col-sm-10">
                    <label><input type="radio">无需另外署名，卡片按留言栏填写就好了</label><br>
                    <label><input type="radio">需要署名，我的署名是：<input type="text"></label><br>
                    <label><input type="radio">不需要署名，我想保密！</label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 right-box show-grid">
        <h5>付款方式</h5>
        <div>建设中，敬请期待！</div>
    </div>
</div>
<div class="row text-right">
    <button type="button" class="btn btn-primary btn-block" id="submit">提交</button>
</div>

@views.html.common.footer()
} {
<script src="@routes.Assets.at("javascripts/modules/flower.js")"></script>
}