@(orders: List[Order], page: Int, pageSize: Int, totalPage: Int, request: play.mvc.Http.Request)
<!DOCTYPE html>
<html>
<head>
  <title>订单管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/dist/css/bootstrap.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  @views.html.manage.common.header(request)

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>编号</th>
          <th>送货日期</th>
          <th>送货时段</th>
          <th>购买者</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      @orders.map{ order =>
        <tr>
          <td>
            @order.id
          </td>
          <td>
            @order.sendDate
          </td>
          <td>
            @Order.sendTimeStr(order.sendTime)
          </td>
          <td>
            @if(order.user == null){
              order.userId
            }else{
              @order.user.nickname / @order.user.truename
            }
          </td>
          <td>
            @Order.stateStr(order.state)
          </td>
          <td>
            <a href="/manage/order/detail/@order.id" target="_blank">详细</a>
            @if(order.state == 1){
              <a class="send" href="javascript:;" data-oid="@order.id">发货</a>
            }
            @if(order.state == 1 || order.state == 3){
              @*已下单和已确认收获的订单都可以删除*@
              <a class="del" href="javascript:;" data-oid="@order.id">删除</a>
            }
          </td>
        </tr>
      }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" align="right">@views.html.common.page("/manage/orders", page, pageSize, totalPage)</td>
        </tr>
      </tfoot>
    </table>
  </div>

  @views.html.common.dialog();

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="@routes.Assets.at("lib/bootstrap/dist/js/bootstrap.min.js")"></script>

  <script src="@routes.Assets.at("lib/kind-editor/kindeditor-all.js")"></script>
  <script src="@routes.Assets.at("javascripts/modules/manage/orders.js")"></script>

</body>
</html>