@(request: play.mvc.Http.Request)
<nav class="navbar navbar-red m0" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/" style="color:black;">
          首页
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/flower/add"){ active}">
        <a href="/manage/flower/add" style="color:black;">
          添加鲜花
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/flowers"){ active}">
        <a href="/manage/flowers" style="color:black;">
          鲜花管理
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/posts"){ active}">
        <a href="/manage/posts" style="color:black;">
          帖子管理
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/orders"){ active}">
        <a href="/manage/orders" style="color:black;">
          订单管理
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/users"){ active}">
        <a href="/manage/users" style="color:black;">
          用户管理
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/notice"){ active}">
        <a href="/manage/notice" style="color:black;">
          公告管理
        </a>
      </li>
      <li class="dropdown@if(request.path() == "/manage/flower-comments"){ active}">
        <a href="/manage/flower-comments" style="color:black;">
          评价管理
        </a>
      </li>
    </ul>
  </div>
</nav>
