@(classify: Classify, flowers: List[Flower], parentList: List[Classify], menuClassify: Map[Classify, List[Classify]], self: Option[User], request: play.mvc.Http.Request)

@main("鲜花分类") {
@views.html.common.header(parentList, menuClassify, self, request, Some(classify))

<div class="container mt10">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">精品推荐</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          @for((flower, index) <- flowers zipWithIndex){
            <div class="col-md-4">
              <a href="/flower/@flower.id" class="flower" style="background-image:url(@flower.image)"></a>
              <p class="text-center">@flower.title</p>
            </div>
            @if((index + 1) % 3 == 0){
              </div><div class="row">
            }
          }
        </div>
      </div>
    </div>
</div>

@views.html.common.footer()
} {
<script src="@routes.Assets.at("javascripts/modules/user.js")"></script>
}