@(parentList: List[Classify], menuClassify: Map[Classify, List[Classify]], recommandFlowers: List[Flower], self: Option[User], request: play.mvc.Http.Request)

@main("欢迎来到我们的鲜花销售网站") {
  @views.html.common.header(parentList, menuClassify, self, request)
  <div class="img-scroll">
    <img src="@routes.Assets.at("images/index-top-bg0.jpg")" width="100%" class="hide">
    <img src="@routes.Assets.at("images/index-top-bg1.jpg")" width="100%" class="hide">
  </div>
  
  <div class="container mt10">
    <div class="row">
      <div class="col-md-3 pd0">

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">全部商品分类</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:;">鲜花速递、玫瑰、百合</a></li>
              <li><a href="javascript:;">蛋糕、品牌生日蛋糕</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">热销排行</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:;">鲜花/梦幻之恋 永恒的爱恋，无尽的爱</a></li>
              <li><a href="javascript:;">鲜花/一生的期盼 喜欢你是淡淡的爱</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">精品推荐</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              @for((flower, index) <- recommandFlowers zipWithIndex){
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <div class="img" style="height:200px;overflow:hidden;">
                      <img data-src="@flower.image" src="@flower.image" style="height:200px;">
                    </div>
                    <div class="caption">
                      <h4>@flower.title</h4>
                      <p>@flower.abs</p>
                      <p class="text-right">
                        <a href="/flower/@flower.id" class="btn btn-primary" role="button">查看详情</a>
                      </p>
                    </div>
                  </div>
                </div>
                @if((index + 1) % 3 == 0){
                  </div><div class="row">
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @views.html.common.footer()
} {
  <script tyoe="text/javascript" src="@routes.Assets.at("javascripts/modules/index.js")"></script>
}
