@(parentList: List[Classify], menuClassify: Map[Classify, List[Classify]], self: Option[User], request: play.mvc.Http.Request, currentClassify: Option[Classify]=None)
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="@routes.Assets.at("images/logo.jpg")">
    </div>
    <div class="col-md-8 text-right">
      @self.map { s =>
        欢迎您，<a href="javascript:;">@s.email</a>，
        <a href="/cart">我的购物车</a>，
        <a href="/user/out?url=@request.path()">退出</a>
      }.getOrElse{
        <a href="/user/login">登录</a>
        <a href="/user/regist">注册</a>
      }
      <div class="input-group mt10 mb10">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">搜索</button>
        </span>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-red m0" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="@if(request.path == "" || request.path == "/"){active}"><a href="/">首页</a></li>
      @parentList.map{ parent =>
        <li class="
          @if(menuClassify.get(parent).length > 0){dropdown} 
          @if(currentClassify.isDefined && (currentClassify.get.id == parent.id || currentClassify.get.parent == parent.id)){active}">
          <a href="/classify/@parent.id"@if(menuClassify.get(parent).length > 0){ class="dropdown-toggle" data-toggle="dropdown"}>
            @parent.name
            @if(menuClassify.get(parent).length > 0){<b class="caret"></b>}
          </a>
          @if(menuClassify.get(parent).length > 0){
            <ul class="dropdown-menu" role="menu">
              @menuClassify.get(parent).map{ c =>
                <li><a href="/classify/@c.id">@c.name</a></li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </div>
</nav>