<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="@routes.Assets.at("images/logo.jpg")">
    </div>
    <div class="col-md-8 text-right">
      <a href="javascript:;">登录</a>
      <a href="/user/regist">注册</a>
      <div class="input-group mt10 mb10">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">搜索</button>
        </span>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-red m0" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:;">首页</a></li>

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">鲜花 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">送恋人</a></li>
          <li><a href="javascript:;">送朋友</a></li>
          <li><a href="javascript:;">送父母</a></li>
          <li><a href="javascript:;">送同事</a></li>
          <li><a href="javascript:;">送老师</a></li>
          <li><a href="javascript:;">送客户</a></li>
          <li><a href="javascript:;">送病人</a></li>
          <li><a href="javascript:;">送婴幼儿</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">礼篮 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">果篮</a></li>
          <li><a href="javascript:;">礼品篮</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">商务鲜花 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">开业花篮</a></li>
          <li><a href="javascript:;">会议鲜花</a></li>
          <li><a href="javascript:;">礼仪鲜花</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">绿植花卉 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">绿色植物</a></li>
          <li><a href="javascript:;">盆栽花卉</a></li>
        </ul>
      </li>

      <li><a href="javascript:;">卡通花束</a></li>

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">特色礼品 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">泰国保鲜花</a></li>
          <li><a href="javascript:;">金箔玫瑰/金箔画</a></li>
          <li><a href="javascript:;">精品音乐盒/八音盒</a></li>
          <li><a href="javascript:;">音乐睡枕/按摩枕</a></li>
          <li><a href="javascript:;">化妆镜/包包挂</a></li>
          <li><a href="javascript:;">花瓶/相框/家居摆饰</a></li>
          <li><a href="javascript:;">特色蛋糕毛巾</a></li>
          <li><a href="javascript:;">LED创意蜡烛</a></li>
          <li><a href="javascript:;">kingking香薰系列</a></li>
          <li><a href="javascript:;">水晶内雕</a></li>
          <li><a href="javascript:;">24k镀金真玫瑰花</a></li>
        </ul>
      </li>

      @*<li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">Action</a></li>
          <li><a href="javascript:;">Another action</a></li>
          <li><a href="javascript:;">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="javascript:;">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="javascript:;">One more separated link</a></li>
        </ul>
      </li>*@
    </ul>
  </div>
</nav>