@(order: Order, isManage: Boolean=false)
<div class="container mt10">
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">订购人信息</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">订购人姓名：</label>
                <div class="col-sm-10">
                    @order.ordererName
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">订购人电话：</label>
                <div class="col-sm-4">
                    @order.ordererPhone
                </div>
                <label class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-4">
                    @order.ordererMobile
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">您所在的省份：</label>
                <div class="col-sm-4">
                    @order.ordererProvince
                </div>
                <label class="col-sm-2 control-label">城市：</label>
                <div class="col-sm-4">
                    @order.ordererCity
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">您的email地址：</label>
                <div class="col-sm-10">
                    @order.ordererEmail
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">收货人信息</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人姓名：</label>
                <div class="col-sm-10">
                    @order.consigneeName
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人电话：</label>
                <div class="col-sm-4">
                    @order.consigneePhone
                </div>
                <label class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-4">
                    @order.consigneeMobile
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人省份：</label>
                <div class="col-sm-4">
                    @order.consigneeProvince
                </div>
                <label class="col-sm-2 control-label">城市：</label>
                <div class="col-sm-4">
                    @order.consigneeCity
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收货人地址：</label>
                <div class="col-sm-10">
                    @order.consigneeAddress
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">配送费用</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2">
                    @Order.sendAreaStr(order.sendArea)
                </label>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">配送日期</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">送货日期：</label>
                <div class="col-sm-2">
                    @order.sendDate
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">时段：</label>
                <label class="col-sm-2 control-label">
                    @Order.sendTimeStr(order.sendTime)
                </label>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">特殊要求</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    如果您对配送服务有特殊要求,请在此说明,我们尽量满足：
                </label>
                <div class="col-sm-10">
                    @order.specialNeeds
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">卡片资料（随货赠送精美留言卡一张，请写下您的留言）</h3></div>
        <form class="form-horizontal panel-body mt10" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    给收货人留言
                </label>
                <div class="col-sm-10">
                    @order.leaveMessage
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    购买人署名
                </label>
                <div class="col-sm-10">
                    <label>
                        @Order.leaveNameStr(order.leaveName)
                        @if(order.leaveName == 2){
                            @order.leaveNameMyName
                        }
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>