@(url: String, page: Int, pageSize: Int, totalPage: Int)
@buildUrl(url: String, index: Int) = {
  @if(url.endsWith("?")){
    @(url)page=@index
  }
  @if(!url.endsWith("?") && url.indexOf("?") > -1){
    @(url)&page=@index
  }
  @if(url.indexOf("?") == -1){
    @(url)?page=@index
  }
}
@if(totalPage > 1){
  <ul class="pagination pagination-sm m0">
    <li><a href="@buildUrl(url, 1)">首页</a></li>
    @if(page - 2 > 1) {
      <li class="disabled"><a href="javascript:;">...</a></li>
    }
    @for(index <- page - 2 to page + 2) {
      @if(index >= 1 && index <= totalPage) {
        <li@if(index == page){ class="active"}>
          <a href="@buildUrl(url, index)">@index</a>
        </li>
      }
    }
    @if(page + 2 < totalPage) {
      <li class="disabled"><a href="javascript:;">...</a></li>
    }
    <li><a href="@buildUrl(url, totalPage)">末页</a></li>
  </ul>
}